# JWT Configuration
DATABASE_URL=
NODE_ENV=
PORT=3001
JWT_SECRET=
JWT_SECRET_REFRESH=
JWT_EXPIRATION=


BUCKET_NAME=
BUCKET_ACCESS_KEY=
BUCKET_SECRET_KEY=
BUCKET_URL=
BUCKET_REGION=

RESEND_API_KEY=
SYSTEM_MAIL_ADDR=